<!DOCTYPE HTML>
<html>
<head>
<title>Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Marital Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="text/javascript" src="/static/js/jquery.js"></script>
<script type="text/javascript" src="/static/js/public.js"></script>
<link rel="stylesheet" href="/static/css/css.css" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } 
function getMessageNum(num)
{
  var xmlhttp;
  if (window.XMLHttpRequest)
    {// code for IE7+, Firefox, Chrome, Opera, Safari
    xmlhttp=new XMLHttpRequest();
    }
  else
    {// code for IE6, IE5
    xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
    }
   xmlhttp.onreadystatechange=function()
    {
     if (xmlhttp.readyState==4 && xmlhttp.status==200)
      {
	      if(num==2)
	      {
	      	str = document.getElementById("message_center").innerHTML
	      	if(str!=xmlhttp.responseText) 
	      	{
	      	wintq('新消息',1,2000,'');
	      	}
	      }
         document.getElementById("message_center").innerHTML=xmlhttp.responseText;
      }
   }
  xmlhttp.open("GET","/send_message/",true);
  xmlhttp.send();
  }
  function Polling(){  
      getMessageNum(1);  
      setInterval("getMessageNum(2)", 3000);  
}  
</script>
<link href="/static/css/bootstrap-3.1.1.min.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<!-- Custom Theme files -->
<link href="/static/css/style.css" rel='stylesheet' type='text/css' />
<link href='http://fonts.useso.com/css?family=Oswald:300,400,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.useso.com/css?family=Ubuntu:300,400,500,700' rel='stylesheet' type='text/css'>
<!----font-Awesome----->
<link href="/static/css/font-awesome.css" rel="stylesheet"> 
<!----font-Awesome----->
<script>
$(document).ready(function(){
    $(".dropdown").hover(            
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideDown("fast");
            $(this).toggleClass('open');        
        },
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideUp("fast");
            $(this).toggleClass('open');       
        }
    );
});
</script>
<style type="text/css">
body,td,th, h1, h2, h3 {font-family:Microsoft YaHei, Verdana, Arial, Helvetica, sans-serif;} 
</style>
</head>
<body><!-- ============================  Navigation Start =========================== -->
<body onLoad="Polling()">
 <div class="navbar navbar-inverse-blue navbar">
    <!--<div class="navbar navbar-inverse-blue navbar-fixed-top">-->
      <div class="navbar-inner navbar-inner_1">
        <div class="container">
           <div class="navigation">
             <nav id="colorNav">
			   <ul>
				<li class="green">
				  <a href="#" class="icon-home"></a>
				  <ul>
					<li><a href="/quanzi/login/">登录</a></li>
					<li><a href="/quanzi/register/">注册</a></li>
					<li><a href="/quanzi/logout/">注销</a></li>
				  </ul>
				</li>
			   </ul>
             </nav>
           </div>
           <a class="brand" href="/quanzi/index/"><img src="/static/images/logo4.png" alt="logo"></a>
           <div class="pull-right">
          	<nav class="navbar nav_bottom" role="navigation">
 
		 <!-- Brand and toggle get grouped for better mobile display -->
		  <div class="navbar-header nav_2">
		      <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">Menu
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>		      </button>
		      <a class="navbar-brand" href="#"></a>		   </div> 
		   <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
		        <ul class="nav navbar-nav nav_1">
		            <li><a href="/quanzi/index/">主页</a></li>
		    		<li class="dropdown">
		              <a href="#" class="dropdown-toggle" data-toggle="dropdown">圈子<span class="caret"></span></a>
		              <ul class="dropdown-menu" role="menu">
		                <li><a href="/quanzi/haoyoudongtai/">好友动态</a></li>
		                <li><a href="/quanzi/wodedongtai/">我的动态</a></li>
		              </ul>
		            </li>
					<li>
		              <a href="/quanzi/news/" class="dropdown-toggle" >新闻</a>		            </li>
		            <li class="dropdown">
		              <a href="#" class="dropdown-toggle" data-toggle="dropdown">关注<span class="caret"></span></a>
		              <ul class="dropdown-menu" role="menu">
		                <li><a href="/quanzi/friends/">关注列表</a></li>
		                <li><a href="/quanzi/new_friend/">找朋友</a></li>
		              </ul>
		            </li>
		            <li><a href="#">消息中心 <a href="#" id="message_center" >0</a></li>
		            <li class="last"><a href="/quanzi/me/">{{username}}</a></li>
		        </ul>
		     </div><!-- /.navbar-collapse -->
		    </nav>
		   </div> <!-- end pull-right -->
          <div class="clearfix"> </div>
        </div> <!-- end container -->
      </div> <!-- end navbar-inner -->
    </div> 
 <!-- end navbar-inverse-blue -->
<!-- ============================  Navigation End ============================ -->
<div style="background-image:url('/static/images/chenduling1.jpg');">
  <div class="container">
    <div class="banner_info">
      <h3>School Online</h3>
      <a href="view_profile.html" class="hvr-shutter-out-horizontal">开启你的在线校园之旅</a>    </div>
  </div>
  <div class="profile_search">

  </div> 
</div> 
<div class="grid_1">
      <div class="container">
      	<h1>热门人物</h1>
       	<div class="heart-divider">
			<span class="grey-line"></span>
			<i class="fa fa-heart pink-heart"></i>
			<i class="fa fa-heart grey-heart"></i>
			<span class="grey-line"></span>        </div>
        <ul id="flexiselDemo3">
		 {% for people in peoples %}
	      <li><div class="col_1"><a href="me.html">
			<img src="/static/images/t12.jpg" alt="" class="hover-animation image-zoom-in img-responsive"/>
             <div class="layer m_1 hidden-link hover-animation delay1 fade-in">
                <div class="center-middle">About {{people.is_boy}}</div>
             </div>
             <h3><span class="m_3">ID:{{people.name}}</span><br>{{people.school}}</h3></a></div>
          </li>
		 {% endfor %}
	    </ul>
	    <script type="text/javascript">
		 $(window).load(function() {
			$("#flexiselDemo3").flexisel({
				visibleItems: 6,
				animationSpeed: 1000,
				autoPlay:false,
				autoPlaySpeed: 3000,    		
				pauseOnHover: true,
				enableResponsiveBreakpoints: true,
		    	responsiveBreakpoints: { 
		    		portrait: { 
		    			changePoint:480,
		    			visibleItems: 1
		    		}, 
		    		landscape: { 
		    			changePoint:640,
		    			visibleItems: 2
		    		},
		    		tablet: { 
		    			changePoint:768,
		    			visibleItems: 3
		    		}
		    	}
		    });
		    
		});
	   </script>
	   <script type="text/javascript" src="/static/js/jquery.flexisel.js"></script>
    </div>
</div>
<div class="grid_2">
	<div class="container">
		<h2>热门动态</h2>
       	<div class="heart-divider">
			<span class="grey-line"></span>
			<i class="fa fa-heart pink-heart"></i>
			<i class="fa fa-heart grey-heart"></i>
			<span class="grey-line"></span>        </div>
        <div class="row_1">
	     <div class="col-md-8 suceess_story">
	         <ul> 
			 {% for dongtai in dongtais %}
			   <li>
				  	<div class="suceess_story-date">
						<span class="entry-1">{{dongtai.datetime}}</span>					</div>
					<div class="suceess_story-content-container">
						<figure class="suceess_story-content-featured-image">
						   <img width="75" height="75" src="/static/images/t1.jpg" class="img-responsive" alt=""/>					    </figure>
						<div class="suceess_story-content-info">
				        	<h4><a href="#">{{dongtai.host}}</a></h4>				        	
				        	<p>{{dongtai.content}}</p>
				        </div>
				    </div>
			   </li>
			 {% endfor %}
	        </ul>
	    </div>
	    <div class="col-md-4 row_1-right">
	      <h3>校园新闻</h3>
		  {% for new in news %}
	        <div class="box_1">
		      <figure class="thumbnail1"><img width="170" height="155" src="/static/images/n1.jpg" class="img-responsive" alt=""/></figure>
			  <div class="extra-wrap">
				<div class="post-meta">
					<span class="day">
					<time datetime="2014-05-25T10:15:43+00:00">{{new.date}}</time>
					</span>
					<span class="month">
					<time datetime="2014-05-25T10:11:51+00:00">{{new.month}}</time>
					</span>				</div>
				<h4 class="post-title"><a href="#">{{new.title}}</a></h4>
				<div class="clearfix"> </div>
				<div class="post-content">{{new.content}}</div>
				<a href="#" class="vertical">Read More</a>			  </div>
	        </div>
	      {% endfor %}
	        <div class="religion">
               <div class="religion_1-title">单位 :</div>
			   <a href="#" target="_blank" class="religion_1" title="Hindu Matrimonial" style="padding-left:0px !important;">基础学部</a>
			    <span>|</span><a href="#" target="_blank" class="religion_1" title="Muslim Matrimonial">航天学院</a>
			 	<span>|</span><a href="#" target="_blank" class="religion_1" title="Christian Matrimonial">计算机学院</a>
			 	<span>|</span><a href="#" target="_blank" class="religion_1" title="Sikh Matrimonial">机电学院</a>
			 	<span>|</span><a href="#" target="_blank" class="religion_1" title="Inter Religion Matrimonial">教务处</a>	        </div>
	     </div>
	     <div class="clearfix"> </div>
	   </div> 
  </div>
</div>
    <div class="footer">
    	<div class="container">
    		<div class="col-md-4 col_2">
    			<h4>我们</h4>
    			<p>计算机学院工大圈子小组：安宜豪、张进、杨李杨</p>
    		</div>
    		<div class="col-md-2 col_2">
    			<h4>帮助</h4>
    			<ul class="footer_links">
    				<li><a href="#">联系我们</a></li>
    			</ul>
    		</div>
    		<div class="col-md-2 col_2">
    			<h4>友链</h4>
    			<ul class="footer_links">
    				<li><a href="privacy.html">教务处</a></li>
    				<li><a href="terms.html">今日哈工大</a></li>
    				<li><a href="services.html">校医院</a></li>
    			</ul>
    		</div>
    		<div class="col-md-2 col_2">
    			<h4>分享</h4>
    			<ul class="footer_social">
				  <li><a href="#"><i class="fa fa-facebook fa1"> </i></a></li>
				  <li><a href="#"><i class="fa fa-twitter fa1"> </i></a></li>
				  <li><a href="#"><i class="fa fa-google-plus fa1"> </i></a></li>
				  <li><a href="#"><i class="fa fa-youtube fa1"> </i></a></li>
			    </ul>
    		</div>
    		<div class="clearfix"> </div>
    	</div>
    </div>
</body>
</html>	